.options-grid{
    width: 50%;
    height: 200px;
    margin: auto;
}

.checkBox{

    padding: 0px;

}


.container{
    height: 180px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

