.options-grid{
    width: 60%;
    height: 200px;
    margin: auto;
}

.checkBox{

    padding: 0px;
    min-height: 0;
    min-width: 0;
}


.container{
    height: 180px;
    width: 35px;
    float: left;
    margin-top: 10px;
    margin-right: 0px;
}

.privateSwitchBase{
    padding: 0px;
}